.headermain {
    background-color: #394046;
    background-image: url("../img/introduce.jpg");
    background-position: center;
    background-size: 1920px;
  }
#c2{
    display:inline-flex;
    align-items:left;
}
#a1{
    background-image: url("../img/banner1.jpg");
    background-repeat: no-repeat;
    background-size:cover;
}
#a1>ul{
    align-items:center;
}
#a2{
    background-image: url("../img/banner3.jpg");
    background-repeat: no-repeat;
    background-size:cover;
}
#a3{
    background-image: url("../img/banner1.jpg");
    background-repeat: no-repeat;
    background-size:cover;    
}
#a4{
    background-image: url("../img/banner3.jpg");
    background-repeat: no-repeat;
    background-size:cover;    
}
#list{
    align-items:center1 ;
}